name: tuya-convert BETA
version: 0.1.7
slug: tuya-convert
description: '[老王杂谈说]：Tuya Convert - 使用开源软件刷写Tuya / Smart Life设备。处于测试阶段，不再维护！'
url: https://ghfast.top/github.com/FaserF/hassio-addons/tree/master/tuya-convert
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: services
map:
  - share:rw
host_network: true
init: false
privileged:
  - NET_ADMIN
options:
  backup_path: "/share/tuya-convert/"
  firmware: tasmota.bin
  accept_eula: "false"
schema:
  backup_path: str
  firmware: str
  accept_eula: str
