name: "Stirling-PDF"
version: "1.3.2"
upstream: "1.3.2"
slug: stirling-pdf
description: >-
  [老王杂谈说]：一个强大、本地托管的基于网络的PDF操作工具
arch:
  - amd64
  - aarch64
url: "https://ghfast.top/github.com/jdeath/homeassistant-addons"
ports:
  8080/tcp: 8080
ports_description:
  8080/tcp: "Web Interface"
map:
  - type: addon_config
    read_only: false
    path: /configs
environment:
  DOCKER_ENABLE_SECURITY: "false"
  INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "false"
image: ghcr.nju.edu.cn/stirling-tools/stirling-pdf
boot: auto
startup: services
webui: "[PROTO:ssl]://[HOST]:[PORT:8080]"
ingress: false
ingress_port: 8080
